<br/><br/>

<%= link_to tags_path , :class => 'btn btn-xs btn-default' do%>
<span class="glyphicon glyphicon-triangle-left"></span> Back
<% end %>
<h1>Editing Tags</h1>
<br/><br/>

<div class ="tags edit" >


	<%= render 'form' %>