<%= link_to url_for(:back) , :class => 'btn btn-xs btn-default' do%>
<span class="glyphicon glyphicon-triangle-left"></span> Back
<% end %>
<ol class = "breadcrumb">
   <li><%= link_to 'Categories', Category %></li>
   <li><%= link_to 'Posts' ,Post %></li>
   <li class = "active"><%= link_to 'Tags' ,Tag %></li>
</ol>