<%= link_to url_for(:back) , :class => 'btn btn-xs btn-default' do%>
<span class="glyphicon glyphicon-triangle-left"></span> Back
<% end %>
<h1>Contact</h1>
<p>
  Contact Dhanashri Joshi at :
  <a href="http://www.anchanto.com/">Anchanto Services.</a>.
</p>