<%= link_to url_for(:back) , :class => 'btn btn-xs btn-default' do%>
<span class="glyphicon glyphicon-triangle-left"></span> Back
<% end %>
<h3>Grid</h3>
<div class = "row">
   <div class="col-lg-1 bg-warning">
   1
   </div>
   <div class="col-lg-1 bg-info">
   2
   </div>
   <div class="col-lg-1 bg-success">
   3
   </div>
   <div class="col-lg-1 bg-danger">
   4
   </div>
   <div class="col-lg-1 bg-warning">
   5
   </div>
   <div class="col-lg-1 bg-info">
   6
   </div>
   <div class="col-lg-1 bg-success">
   7
   </div>
   <div class="col-lg-1 bg-danger">
   8
   </div>
   <div class="col-lg-1 bg-warning">
   9
   </div>
   <div class="col-lg-1 bg-info">
   10
   </div>
   <div class="col-lg-1 bg-success">
   11
   </div>
   <div class="col-lg-1 bg-danger">
   12
   </div>
   </div>

   <div class = "row">
   	<br/>

   	<br/>
   </div>
<h3>Nested Grid</h3>

   <div class = "row">
   	<div class="col-lg-12 bg-warning">
   	<p>This is Outer Grid</p>
   		<div class="col-lg-6 bg-danger">
   			This is Inner Grid
   		</div>
   	</div>
</div>

<div class = "row">
   	<br/>
   	<br/>
   </div>

<div class = "row">
   	<div class="col-lg-12 bg-warning">
   	<p>This is Outer Grid</p>
   		
         <div class="col-lg-6 col-lg-push-6 bg-info">
            This is grid value
            <div class="col-lg-3 col-lg-pull-4 bg-danger">
            this is pull example
            </div>
         </div>
   	</div>
</div>
   
     <div class = "row">
   	<br/>
   	
   	<br/>
   </div>
<h3>Pushing and Pulling Columns</h3>

   <div class = "row">
   	<div class="col-md-4 col-md-push-8 bg-warning">
   	<p>This is Column 1</p>
   		<div class="col-md-8 col-md-pull-4 bg-info">
   			This is column 2
   		</div>
   	</div>
   </div>

    <div class = "row">
   	<br/>
   	
   	<br/>
   </div>
<hr/>
<hr/>
   <div class = "row">
   	<div class="col-md-4 col-md-push-8 bg-cover">
   	<p>This is Column 1</p>
   		<div class="col-md-8 col-md-pull-4 bg-info">
   			This is column 2
   		</div>
   	</div>
   </div>

    <div class = "row">
   	<br/>
   	
   	<br/>
   </div>
<h3>Offset Columns</h3>

   <div class = "row">
   	<div class="col-md-12  bg-warning">
   	<p>This is Column 1</p>
   		<div class="col-md-6 col-md-offset-2 bg-info">
   			This is column 2
   		</div>
   	</div>
   </div>

