<%= link_to url_for(:back) , :class => 'btn btn-xs btn-default' do%>
<span class="glyphicon glyphicon-triangle-left"></span> Back
<% end %>
<h1>Demo for Social Buttons and List Groups</h1>

<div class="list-group">
 <li class="list-group-item">
   <a href="https://twitter.com/?lang=en" class="btn btn-block btn-social btn-twitter">
    <span class="fa fa-twitter"></span>
    Sign in with Twitter
 </a>
</li>
<li class="list-group-item">
   <a href="https://www.facebook.com/?_rdr=p" class="btn btn-block btn-social btn-facebook">
    <span class="fa fa-facebook"></span>
    Sign in with Facebook
 </a>
</li>

<li class="list-group-item">
   <a href="https://in.linkedin.com/" class="btn btn-block btn-social btn-linkedin">
    <span class="fa fa-linkedin"></span>
    Sign in with linkedin
 </a>
</li>
<li  class="list-group-item">
   <a href="https://in.pinterest.com/" class="btn btn-block btn-social btn-pinterest">
    <span class="fa fa-pinterest"></span>
    Sign in with pinterest
 </a>
</li>
<li class="list-group-item">
 <a href="https://in.yahoo.com/" class="btn btn-block btn-social btn-yahoo">
    <span class="fa fa-yahoo"></span>
    Sign in with yahoo
 </a>

</li>
<li class="list-group-item">
 <a href="https://www.google.co.in/?gfe_rd=cr&ei=Tt2cVp3VNrHG8AeTvpfICQ&gws_rd=ssl" class="btn btn-block btn-social btn-google">
    <span class="fa fa-google"></span>
    Go to Google
 </a>

</li>
</div>





<div class="text-center">
       <a class="btn btn-social-icon btn-dropbox"><i class="fa fa-dropbox"></i></a>
       <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
       <a class="btn btn-social-icon btn-google-plus"> <span class="fa fa-google"></span></i></a>
       <a class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
       <a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
     </div>