<div class="row">
   <div class="col-md-12">
   <h1>Off Canvas Menu</h1>
   <div class="visible-xs">
   <button class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle Menu</button>
   </div>
   </div>
   </div>
   

<div class="row-offcanvas row-offcanvas-left">
<div class="col-sm-3 sidebar-offcanvas-left">
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">Home</a></li>
<li><a href="#">Home</a></li>
<li><a href="#">Home</a></li>
</ul>
</div>
<div class="col-sm-6">
<p>
rhaps it is because I cannot help but wonder why you are all here! Some have traveled a considerable distance. Almost all have taken precious vacation days. So, why here? Why Education Week? Why not waterskiing? Or the beach? (Some of you may be asking that very question right about now!) If you think about it for a moment, I believe you will agree that it really is a pretty good question. Why did you choose Education Week over some recreational activity or simply lying adrift on a plastic air mattress in a backyard swimming pool?

In a way, I believe that the answer is reflected in the theme of this conference—Finding “Wisdom and Great Treasures of Knowledge, Even Hidden Treasures” (D&C 89:19). In a very real sense the answer to that question—What am I doing here?—is what I would like to address. The fact is, brothers and sisters, that you are here instead of somewhere else because for you there is more to life than the proverbial “news, weather, and sports.”

Some years ago, I had some responsibility for the open house and dedication of the San Diego California Temple. One Saturday afternoon, one of our committees for the open house was holding a meeting in a stake center adjacent to a large sectarian chapel. The parking lots for these two buildings are contiguous, resulting in an immense expanse of asphalt between them. I thought it was quite remarkable that our committee meeting was so well attended at a time when most people are outside playing—especially in San Diego! Then, I walked into the foyer of our building. Through the glass doors I had a panoramic view of that large parking area and the other church’s meetinghouse. To my surprise the parking lot was filling with cars as people arrived for a meeting at that other building. They were coming as families mostly—fathers, mothers, and children—carrying their scriptures. They were more casually dressed than are we customarily in going to church. But they were flocking to a meeting in that other church much as our people flock to meetings in our buildings. As I watched, the thought forcefully impressed itself upon my mind that this is just the way it was in 1820 when a 14-year-old and his family flocked to religious assemblies—looking for something. The impression continued that for these people—as for those in Joseph’s day, as for us—there really is more to life than “news, weather, and sports”!
</p>
</div>
</div>.