<%= link_to url_for(:back) , :class => 'btn btn-xs btn-default' do%>
<span class="glyphicon glyphicon-triangle-left"></span> Back
<% end %>
<div class="row">
<br/>
</div>
<div class="row"><br/>
</div>
<div class="row"><br/>
</div>
<div class="row"><br/>
</div>
<div class="row"><br/>
</div>
<div class="row"><br/>
</div>

<div class="row">
   <div class="col-md-12">
   <h1>Off Canvas Menu</h1>
   <div class="visible-xs">
   <button class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle Menu</button>
   </div>
   </div>
   </div>
   

<div class="row row-offcanvas row-offcanvas-right">
<div class="col-sm-3 sidebar-offcanvas">
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">Home</a></li>
<li><a href="#">Home</a></li>
<li><a href="#">Home</a></li>
</ul>
</div>
<div class="col-sm-6">
<p>
rhaps it is because I cannot help but wonder why you are all here! Some have traveled a considerable distance. Almost all have taken precious vacation days. So, why here? Why Education Week? Why not waterskiing? Or the beach? (Some of you may be asking that very question right about now!) If you think about it for a moment, I believe you will agree that it really is a pretty good question. Why did you choose Education Week over some recreational activity or simply lying adrift on a plastic air mattress in a backyard swimming pool?

In a way, I believe that the answer is reflected in the theme of this conference—Finding “Wisdom and Great Treasures of Knowledge, Even Hidden Treasures” . In a very real sense the answer to that question—What am I doing here?—is what I would like to address. The fact is, brothers and sisters, that you are here instead of somewhere else because for you there is more to life than the proverbial “news, weather, and sports.”
</p>
</div>
</div>