<%= link_to url_for(:back) , :class => 'btn btn-xs btn-default' do%>
<span class="glyphicon glyphicon-triangle-left"></span> Back
<% end %>
<div class="container">
	<h2>Progress Bar</h2>
	<div class="progress">
		<div class="progress-bar" id="myBar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" >
		</div>
	</div>
</div>


<br>
<button onclick="move()">Click Me</button> 

<script>
	function move() {
		var elem = document.getElementById("myBar");   
		var width = 10;
		var id = setInterval(frame, 10);
		function frame() {
			if (width == 100) {
				clearInterval(id);
			} else {
				width++; 
				elem.style.width = width + '%'; 
			}
		}
	}
</script>
