<%= div_for post do %>
<p>
        <strong>
                
                Posted By :  <%= post.user.username %>
                                  
        </strong>
        <br/>
        <strong>
                Posted <%= time_ago_in_words(post.created_at) %> ago
        </strong>
        <br/>
        
</p>


<% end %>