<%= div_for post do %>
<p>
        <small> 
                
                Posted By :  <%= post.user.username %> &nbsp; | &nbsp;                                         
                Posted <%= time_ago_in_words(post.created_at) %> ago
        <small> 
        <br/>
        
</p>


<% end %>