<%= div_for post do %>
        <p>

 <strong>
        <%if user_signed_in?%>
                        Posted By :  <%= post.users.email %>
                        <%end%>
        
                       
                </strong>
                <br/>
                <strong>
                        Posted <%= time_ago_in_words(post.created_at) %> ago
                </strong>
                <br/>
                
        </p>
<% end %>