<br/><br/>
<%= link_to url_for(:back) , :class => 'btn btn-xs btn-default' do%>
<span class="glyphicon glyphicon-triangle-left"></span> Back
<% end %>
<h1>Editing post</h1>
<br/><br/>

<%= render 'form'%>