/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
table#t01{ text-align: center;
  width: 350%;
}
 
table#t01 tr:nth-child(even) {
  padding: 15px;
    background-color: #EEEFDB;
}
table#t01 tr:nth-child(odd) {
  padding: 15px;
    background-color: #fff;
}
table#t01 th {
 
    border-collapse: collapse;

    color: white;
    background-color: black;
} 


header nav ul {
list-style: none;
margin: 0 0 2em;
padding: 0;
}
header nav ul li {
display: inline;
}
#flash_notice, #flash_alert {
padding: 5px 8px;
margin: 10px 0;
}
#flash_notice {
background-color: #CFC;
border: solid 1px #6C6;
}
#flash_alert {
background-color: #FCC;
border: solid 1px #C66;
}

#user_nav
{
	padding: 5px 8px;

	width : 1280px;
	height: 35px;
	background-color: #DCDCDC;
}
.topcorner{
   position:absolute;
   top:0;
   right:0;
  }













#header {
    background-color:black;
    color:#4CAF50;
    text-align:center;
    padding:5px;

}
#content {
    background-color:black;
    color:white;
    text-align:center;
    padding:15px;

}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
  
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:1px;
}