// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header {
   width: 100%;
    background-color:black;
    color:#4CAF50;
    text-align:center;
    padding:5px;

}
#content {
    background-color:black;
    color:white;
    text-align:center;
    padding:15px;

}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
  
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:1px;
}