<br/><br/>
<%= link_to categories_path , :class => 'btn btn-xs btn-default' do%>
<span class="glyphicon glyphicon-triangle-left"></span> Back
<% end %>

<h1>Editing Categories</h1>

<br/><br/>

<%= render 'form' %>