

<%= link_to("<< Back to list",{:action => 'index'},:class => 'back-link')%><br/><br/>

<div class="categories show">
<h2> Show Category </h2>

<table border="2" cellpadding="10" cellspacing="0"  summary="Posts detail view">
<tr>
<th>Title</th>
<td><%= (@category.title rescue "")%></td>
</tr>

<tr>
<th>Created</th>
<td><%= (@category.created_at rescue "")%></td>
</tr>
<tr>
<th>Updated</th>
<td><%= (@category.updated_at rescue "")%></td>
</tr>
</table>
</div>


